<nav class="navbar navbar-expand-md bg-info navbar-dark">
    <a href="/" class="navbar-left"></a><img src="/images/logo_white1.png" id="logo"></a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>