
<div class="container">
        <a class="nav-link dropdown-toggle pl-0 mt-5" style="font-size: 2.2rem; color: #966A87" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Genre
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class='d-flex'>
                <div class="section-one" style="border-right: 1px dashed #966A87">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Adventure</a>
                    <a class="dropdown-item" href="#">Anime</a>
                    <a class="dropdown-item" href="#">Fanfiction</a>
                    <a class="dropdown-item" href="#">Fantasy</a>
                    <a class="dropdown-item" href="#">Historical</a>
                    <a class="dropdown-item" href="#">Horror</a>
                    <a class="dropdown-item" href="#">Humor</a>
                </div> 
                <div class="section-two">
                    <a class="dropdown-item" href="#">Mystery</a>
                    <a class="dropdown-item" href="#">Paranormal</a>
                    <a class="dropdown-item" href="#">Poetry</a>
                    <a class="dropdown-item" href="#">Science Fiction</a>
                    <a class="dropdown-item" href="#">Romance</a>
                    <a class="dropdown-item" href="#">Short Story</a>
                    <a class="dropdown-item" href="#">Spiritual</a>
                    <a class="dropdown-item" href="#">Vampire</a>
                </div> 
            </div>
        </div>
    </div>
    <ul class="nav nav-dark" style="border-bottom: 1px solid grey">
        <li class="nav-item">
            <a class="nav-link text-dark" href="#">Hot</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="#">Contrvesial</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="#">Rising</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="#">New</a>
        </li>
    </ul>
   
</div>
    