<div class="container">
    <div class="card">
        <div class="card-header">Story Detailes</div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" class="form-control" name="title" id="title" placeholder="title">
                </div>
                <div class="input-group">
                    <label for="description">Description:</label>
                    <textarea class="form-control" style="min-width: 100%" aria-label="With textarea" name="discription" ></textarea>
                </div>
                <div class="form-group">
                    <label for="tags">Tags:</label>
                    <input type="text" class="form-control" name="tags" id="tags" placeholder="tags">
                </div>
                <div class="form-group">
                    <label for="genre">Genre</label>
                    <select id="genre" class="form-control">
                        <option selected>Choose genre...</option>
                        <option>Action</option>
                        <option>Adventure</option>
                        <option>Anime</option>
                        <option>Fanfiction</option>
                        <option>Fantasy</option>
                        <option>Historical</option>
                        <option>Horror</option>
                        <option>Humor</option>
                        <option>Mystery</option>
                        <option>Paranormal</option>
                        <option>Poetry</option>
                        <option>Science Fiction</option>
                        <option>Romance</option>
                        <option>Short Story</option>
                        <option>Spiritual</option>
                        <option>Vampire</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>
