
{{> _semiNav}}

<div class="container">
    <div class="row">
        {{#each stories}}
        <div class="col-md-6 col-sm-11 p-3">
            <div class="d-flex">
                <img src="{{image_url}}" alt="story name" class="img-thumbnail d-sm-block d-none" style="padding:0">
                
                <div class="card" style="border: none !important; background-color:rgba(245, 245, 245, 0.911)">
                    <span class="bg-info rounded text-center text-white" style="width: 27px; height: 27px;">#1</span>
                    <div class="card-header pl-2 py-0">
                        <p class="m-0"><strong>{{title}}</strong></p>
                        <p class="text-secondary m-0"><strong>by though</strong></p>
                        <div>
                            <ul class="nav mt-1 pd-0">
                                <li class="nav-item text-info mr-3"><i class="fas fa-eye"></i> 15k</li>
                                <li class="nav-item text-info mr-3"><i class="fas fa-star"></i> 15k</li>
                                <li class="nav-item text-info mr-3"><i class="far fa-comment-dots"></i></i> 15k</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{sub_text story_text}}......<a href="#" class="text-info"><srtong>read more</srtong></a>
                        </p>
                    </div>
                    <div class="card-footer text-muted p-1 border-bottom">
                        <button class="btn btn-sm btn-outline-info m-0 disabled">{{genre}}</button>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
      
</div>
