
{{> _semiNav}}
<div class="container bg-light">
    <div class="row">
        <div class="d-flex col-md-6 col-sm-11">
            <img src="https://a.wattpad.com/cover/162147064-176-k190000.jpg" alt="story name" class="img-thumbnail" style="border: none !important">
            <div class="card" style="border: none !important">
                <div class="card-header">
                Story Name and story writer
                </div>
                <div class="card-body">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.
                        With supporting text below as a natural lead-in to additional content.
                        With supporting text below as a natural lead-in to additional content.
                        With supporting text below as a natural lead-in to additional content.
                    </p>
                    </div>
                    <div class="card-footer text-muted">
                    agree and disagree and rating
                </div>
            </div>
        </div>
    </div>
</div>
